<div class="welcome">
  <p class="welcome__greeting">Let's see how sick you are.</p>
  <form method="post">
    <input type="text" name="name" required class="welcome__name" placeholder="What's your name?">
    <button formaction="/signin" class="button">Sign In</button>
  </form>
</div>