<p>What's your name?</p>
<form method="post">
  <input type="text" name="name" required>
  <button formaction="diagnosis/">Is it cancer?</button>
  <button formaction="records/list">Medical History</button>
</form>