<h1>Unfortunately, we're pretty sure your diagnosis is <%= @diagnosis %>.</h1>

<form action='/records/save'>
    <button type='submit' class="button">Save Diagnosis</button>
</form>

<a href='/' class="button">Return Home</a>