<ul>
<%  x = Record.getRecords(@name)
	for i in 0..x.length-1
%>
		<li><%= x[i][0] %>: Based on you symptoms of <%= x[i][1].join(", ") %> you have <%= x[i][2]%></li>

<% end %>
</ul>

<form action='/records/delete' method='POST'>
    <input id="name" type="hidden" name="name" value= "<%= @name %>" >
    <button type='submit'>Delete History</button>
</form>