<table class = "result-table">
	<tr>
    	<th>Time</th>
    	<th>Symptoms</th>
    	<th>Diagnosis</th>
  	</tr>
<%  x = Record.getRecords(@name)
	for i in 0..x.length-1
%>
	<tr>
		<td><%= x[i][0] %></td><td><%= x[i][1].join(", ") %></td><td><%= x[i][2]%></td></tr>

<% end %>
</table>

<form action='/records/delete' method='POST'>
    <input id="name" type="hidden" name="name" value= "<%= @name %>" >
    <button type='submit'>Delete History</button>
</form>