<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Internet Doctor - Fake Medical Diagnosis Tool</title>
  </head>

<body>
    <div class="header">
        <img src="/img/doctor.svg" alt="Doctor" class="header__icon"> 
        <a class="header__link" href="/">Internet Doctor</a>
    </div>

    <div class = "main">
<!-- The `yield` below is where the contents of a view file are put. -->
<!-- Then the combined layout + view is sent back to the client. -->
<%= yield %>
    </div>
</body>

</html>

